/*global sytles*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Be Vietnam', sans-serif;
}
body {
    position: relative;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
figcaption {
    font-size: 1em;
    padding: 5px;
    margin: auto 0;
    text-align: center;
}
img {
    width: 100%;
    border: 0;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
h2 {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 10px 0 30px 0;
}
h3 {
    font-size: 1.2em;
    border-bottom: 2px solid #fdd9c4;
    font-weight: bolder;
}
h4 {
    font-size: 1.1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h5 {
    font-size: 1em;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 0;
    margin: 0;
}
 /*styles for header tag*/
header {
    width: 100%;
    background-color: #91cace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1; 
}
header figure {
    width: 20%;
    padding: 5px;
    margin: 0;
}
header nav {
    padding-bottom: 10px;
} 
header nav li {
    display: inline;
    padding: 0;
    margin: 0;
} 
header nav li a {
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
  }
header nav li a.active {
    color: #000000;
    font-weight: bold;
}
header nav li a.active:hover {
    color: #ffffff;
}
header nav li a:hover {
    background-color: #000000;
    padding-bottom: 3px;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*styles for footer tag*/
footer {
    width: 100%;
    background-color: #d9e8e9;
}
footer nav {
    margin-top: 10px;
    width: 100%;
    text-align: center;
} 
footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
  }
footer nav li {
    display: inline;
} 
footer nav li a {
    color: #000000;
    font-size: .8em;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  footer nav li a.active {
    border-bottom: 2px solid #000000;
    font-weight: bold;
}
footer nav li a:hover {
    color: #ffffff;
    background-color: #000000;
}
/*styles for main page*/
main {
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.intro figure {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}
.menuopt {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    margin: 10px auto;
}
.menuopt figure {
    margin: 10px 0;
    padding: 0;
    border: 2px solid #fdd9c4;
    border-radius: 5px;
    width: 300px;
    height: 275px;
    overflow: hidden;
}
.menuopt figure a {
    height: 100%;
    width: 100%;
}
.menuopt figure a img {
    height: 100%;
    width: 100%;
}
.menuopt figure figcaption {
    text-align: center;
    margin: auto 0;
}
.menuopt figure figcaption a {
    color: #000000;
    font-size: .9em;
    padding: 5px;
    text-decoration: none;
}
/*Styles on About & Location Pages*/
article {
    margin: 5px auto;
    width: 90%;
    padding: 0;
    position: relative;
}
aside {
    border: 2px solid #fdd9c4;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.address {
    padding: 20px 0;
}

.address p {
    padding: 0;
    margin: 0 20px;
}
/*Styles used on menu page*/
.menuitem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0;
}
.menuitem figure {
    margin: 10px 0;
    padding: 0;
    border: 2px #91cace solid;
    border-radius: 5px;
    width: 300px;
    height: 275px;
    overflow: hidden;
}
.menuitem article {
    width: 60%;
    padding-top: 10px;
}
.locations {
    width: 80%;
    margin: 0px, auto;
}
.locDetails {
    margin-left: 20px;
}
/*Sytles for forms in Subscribe Page and 
Employment Page*/
input[type=text], input[type=email],
select, textarea {
    display: block;
    margin: 30px;
    width: 90%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    outline: none;
}
input:hover, input:active {
    border: 5px solid #91cace;
    outline: none;
}
input[type=checkbox] {
    margin: 0;
    padding: 0;
    font-size:40px;
}
label {
    padding: 5px;
    margin: 5px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #91cace;
    border-radius: 5px;
}
.subDetail {
    width:  40%;
    background: #fdd9c4;
    border: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
}
.jobDetail {
    width:  60%;
    background: #fdd9c4;
    border: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
}
/*Sytles for FQA */
.rButton {
    display: inline;
    margin: 0 0 0 10px;
    padding: 2px;

}
#fAnswer1 {
    display: none;
    margin: 10px 20px 20px 40px;
    font-style: italic;
}
#fQuestion1 h5 {
    display: inline;
    text-decoration: none;
    margin: 5px 10px;
}
#fAnswer2 {
    display: none;
    margin: 10px 20px 10px 40px;
    font-style: italic;
}
#fQuestion2 h5 {
    display: inline;
    text-decoration: none;
    margin: 5px 10px;
}






